apps/mcptest/ops/v0.1/lifecycle/20250907-130201-KQxYbOJgGEEuzVT0-05-trace-676.json
{
  "executionMethod": "n8n CLI",
  "command": "docker exec hyly-n8n-app n8n execute --id=KQxYbOJgGEEuzVT0 --rawOutput",
  "executionId": "676",
  "workflowId": "KQxYbOJgGEEuzVT0",
  "timestamp": "2025-09-07T17:02:11.030Z",
  "iteration": "B",
  "expectedMessage": "Hello mcpB",
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Manual Trigger": [
          {
            "startTime": 1757264531032,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Hello Code": [
          {
            "startTime": 1757264531040,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Manual Trigger"
              }
            ],
            "hints": [
              {
                "message": "To make sure expressions after this node work, return the input items that produced each output item. <a target=\"_blank\" href=\"https://docs.n8n.io/data/data-mapping/data-item-linking/item-linking-code-node/\">More info</a>",
                "location": "outputPane"
              }
            ],
            "executionTime": 31,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "message": "Hello mcpB - 20250907-130211",
                      "timezone": "Eastern",
                      "utcTime": "2025-09-07T17:02:11.070Z",
                      "easternTime": "2025-09-07T13:02:11.000Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Hello Code"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-09-07T17:02:11.030Z",
  "stoppedAt": "2025-09-07T17:02:11.077Z",
  "status": "running",
  "finished": true
}